:root {
  --main: gray;
  --sidebar: yellow;
  --footer: black;
  --header: black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
}

h1,
h3 {
  padding-top: 40px;
}

a {
  text-decoration: none;
}
a:hover {
  color: black;
  font-weight: bold;
}

li {
  list-style: none;
  line-height: 2em;
}
